<%= stylesheet_link_tag "common", :media => "all" %>
<% if user_signed_in? %>
    <h2><%= current_user.name%>のタスク一覧</h2>
<% elsif boss_signed_in? %>
    <h2><%= current_boss.name%>のタスク一覧表示</h2>
<% end %>
<button type="button" class="btn btn-primary parent-task-new " onclick="location.href='/parent_tasks/new'">タスク新規作成</button><br>

<% @parent_tasks.each do |parent_task| %>
  <div class="card border-secondary mb-5" style="width: 30rem;">
      <div class="card-header bg-light ">
      <div class="row">
        <div class="col-6">
          <div class="font-weight-bold">
              「<%= parent_task.title %>」
          </div>
          <%= link_to "タスク詳細", parent_task_path(parent_task) %></br>
        </div>
        </div>
      </div>
      <div class="card-body">
          タスク概要：<%= parent_task.explanation %>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">入力時刻:<%= parent_task.updated_at %></li>
              <li class="list-group-item">締め切り:<%= parent_task.parent_deadline %></li>
              <% if parent_task.self_evaluate == 0 %>
              <li class="list-group-item">自己評価:うまく切り分けられた</li>
              <% elsif parent_task.self_evaluate == 1 %>
              <li class="list-group-item">自己評価:普通</li>
              <% elsif parent_task.self_evaluate == 2 %>
              <li class="list-group-item">自己評価:上司助けて</li>
              <% else %>
              <li class="list-group-item">入力されていません</li>
              <% end %>
          </ul>
          <div class="card-footer">
          <% if user_signed_in? %>
            <%= link_to "サブタスク新規作成", new_parent_task_child_task_path(parent_task), class: "btn btn-secondary" %> /
          <% end %>
            <%= link_to "サブタスク一覧画面", parent_task_child_tasks_path(parent_task), class: "btn btn-secondary" %>
          </div>
      </div>
  </div>
<% end %>