<h1>ここはいったんのホーム画面</h1>

<h2>タスクの一覧表示</h2>
    <% @parent_tasks.each do |parent_task| %>
    <%= link_to "子タスク作成画面へ", new_parent_task_child_task_path(parent_task) %></br>
    <%= link_to "親タスクに紐づく子タスク一覧画面へ",  parent_task_child_tasks_path(parent_task) %>
<ul>
    <%= parent_task.id %>
        <li>タスクタイトル:<%= parent_task.title %></li>
        <li>deadline:<%= parent_task.parent_deadline %></li>
    <% if parent_task.self_evaluate == 0 %>
        <li>評価表示:うまく切り分けられた</li>
    <% elsif parent_task.self_evaluate == 1 %>
        <li>評価表示:普通</li>
    <% elsif parent_task.self_evaluate == 2 %>
        <li>評価表示:上司助けて</li>
    <% else %>
        <li>入力されていません</li>
    <% end %>
        <li>update_time:<%= parent_task.updated_at %></li>
        <li>user_id:<%= parent_task.user_id %></li>
    <ul>子タスクタイトル:<% parent_task.child_tasks.each do |child_task| %>
    <%= button_to 'タスクの完了', finished_parent_task_child_tasks_path(parent_task, child_task) %>
<%
=begin%>
     
    <%= if child_task.finish_time %>
        <%= child_task.finish_time %>
    <% end %> 
<%
=end%>

        <li><%= child_task.title %></li>
        <li><%= child_task.possibility %></li>
        <% end %>
    </ul>
</ul>
<% end %>
