<div class='container'>
  <%= link_to "タスク一覧へ", parent_tasks_path(@parent_task) %>
<div class="card text-center ">
  <h2 class="card-header">「<%= @parent_task.title %>」の詳細ページ</h2>
  <div class="card-body">
    <h4>タスク概要：<%= @parent_task.explanation%></h4>
    <p>締め切り:<%= @parent_task.parent_deadline %></p>
      <% if @parent_task.self_evaluate == 0 %>
        <p>自己評価:うまく切り分けられた</p>
      <% elsif @parent_task.self_evaluate == 1 %>
        <p>自己評価:普通</p>
      <% elsif @parent_task.self_evaluate == 2 %>
        <p>自己評価:上司助けて</p>
      <% else %>
        <p>入力されていません</p>
      <% end %>
    <p><%= @parent_task.updated_at %></p>

    <%= form_with(model: [@parent_task, @task_comment]) do |f| %>
      <%= f.text_area :parent_comment %><br>
        <%= f.submit 'コメントする', class: 'btn btn-primary' %>
      <% end %>
  </div>

<div class="bg-light card-footer">
  <h5>〜コメント一覧〜</h5>
  <% @task_comments.each do |task_comment| %>
    <% if task_comment.parent_task_id && task_comment.parent_comment %>
      <%= task_comment.parent_comment %>
      <%= button_to '削除', parent_task_task_comment_path(parent_task_id: @parent_task.id, id: task_comment.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>

 <ul class="list-group list-group-flush"><% @parent_task.child_tasks.each do |child_task| %>
         <li class="list-group-item">サブタスク:<%= child_task.title %></li>
        <% if child_task.done %>
          <%= button_to '完了済み', show_canceled_parent_task_child_tasks_path(@parent_task, id: child_task.id), class: 'btn btn-success' %> 
        <% else %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= child_task.id %>">完了にする</button>
        <% end %>

       <!--modal-->
        <div class="modal fade" id="exampleModal<%= child_task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">お疲れ様でした</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    あなたはタスクを完了しました</br>
                    その気持ちの入力をしてください
                    <%= form_with url: show_result_finish_parent_task_child_tasks_path(parent_task_id: @parent_task.id, id: child_task.id) do |f| %>
                    <%= f.label :result, '上手にできたかどうか'%>
                    <%= f.select :result, [['しっかりやり切れた', 0], ['まあまあやり切れた', 1], ['壁にぶつかった', 2]] , class: 'form-control'%>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit '保存', class: "btn btn-primary" %>
                    <% end %>
                </div>
                </div>
            </div>
        </div>
        <% end %>
    </ul>
