<div class='container'>
  <%= link_to "タスク一覧へ", parent_tasks_path(@parent_task) %>
<div class="text-center">
  <h1>「<%= @parent_task.title %>」　の親タスク詳細ページ</h1>
  <h3>タスクタイトル：<%= @parent_task.title %></h3>
  <h5>タスク概要：<%= @parent_task.explanation%></h5>
  <p>締め切り:<%= @parent_task.parent_deadline %></p>
<% if @parent_task.self_evaluate == 0 %>
    <p>評価表示:うまく切り分けられた</p>
<% elsif @parent_task.self_evaluate == 1 %>
    <p>評価表示:普通</p>
<% elsif @parent_task.self_evaluate == 2 %>
    <p>評価表示:上司助けて</p>
<% else %>
    <p>入力されていません</p>
<% end %>
<p><%= @parent_task.updated_at %></p>
<p>user_id:<%= @parent_task.user_id %></p>

<%= form_with(model: [@parent_task, @task_comment]) do |f| %>
  <%= f.text_area :parent_comment %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<div class="bg-white">
<h4>〜コメント一覧〜</h4>
<% @task_comments.each do |task_comment| %>
  <%= simple_format(task_comment.parent_comment) %>
  <br>
  <%= link_to 'このメッセージを削除する', parent_task_task_comments_path(@parent_task, task_comment), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>
</div>

  </div>
</div>