<h2>サブタスク一覧</h2>
<%= link_to "タスク一覧画面へ", parent_tasks_path %>
<br>
<% if user_signed_in? %>
    <%= link_to "サブタスク新規作成", new_parent_task_child_task_path(@parent_task), class: "btn btn-secondary" %>
<% end %>
<br>
<% @child_tasks.each do |child_task| %>
 <% if params[:parent_task_id].to_i == child_task.parent_task_id %>
<br>
<div class="card border-secondary mb-5" style="width: 30rem;">
   
    <div class="card-header bg-light ">
    <div class="row">
        <div class="col-7">
            <div class="font-weight-bold">
                サブタスク名：「<%= child_task.title %>」
            </div>
            <%= link_to "サブタスク詳細画面", parent_task_child_task_path(parent_task_id: child_task.parent_task_id, id: child_task.id) %></br>
        </div>
        <div class="col-5">
            <% if child_task.done %>
                <% if user_signed_in?%>
                    <%= button_to '完了済み', index_canceled_parent_task_child_tasks_path(@parent_task, id: child_task.id), class: 'btn btn-success' %> 
                <% else %>
                    <p>完了済み</p>
                <% end%>
             <% else %>
                <% if user_signed_in?%>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= child_task.id %>">完了にする</button>  
                <% else %>
                    <h3 style="color:red">未完了</h3>
                <% end %>
             <% end %>
             <%= button_to 'Delete', parent_task_child_task_path(id: child_task.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
            <div class="modal fade" id="exampleModal<%= child_task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">お疲れ様でした</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            あなたはタスクを完了しました。今の達成感は？？<br>
                            <%= form_with url: index_result_finish_parent_task_child_tasks_path(parent_task_id: @parent_task.id, id: child_task.id) do |f| %>
                            <%= f.label :result, '達成感'%>：
                            <%= f.select :result, [['しっかりやり切れた', 0], ['まあまあやり切れた', 1], ['壁にぶつかった', 2]] , class: 'form-control'%>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <%= f.submit '保存', class: "btn btn-primary" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card-body">
        タスク概要：<%= child_task.explanation %>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">締め切り：<%= child_task.child_deadline %></li>
        <% if child_task.possibility %>
                <% if child_task.done == 0 %>
                    <li class="list-group-item">達成可能性：間に合いそう</li>
                <% elsif child_task.done == 1 %>
                    <li class="list-group-item">達成可能性：分からない</li>
                <% elsif child_task.done == 2 %>
                    <li class="list-group-item">達成可能性：厳しい</li>
                <% end %>
        <% end %>
        <li class="list-group-item">終了時刻：<%= child_task.finish_time %></li>
        <% if child_task.finish_time %>
                <% if child_task.done == 0 %>
                    <li class="list-group-item">タスク結果：間に合った</li>
                <% elsif child_task.done == 1 %>
                    <li class="list-group-item">タスク結果：〆切後3h以内で間に合った</li>
                <% elsif child_task.done == 2 %>
                    <li class="list-group-item">タスク結果：〆切に間に合わなかった</li>
                <% end %>
        <% end %>
    </ul>
        
    <div class="card-footer">
        <%= form_with url: parent_task_task_comments_path(parent_task_id: params[:parent_task_id], id: child_task.id), model: [ParentTask.new, @task_comment], method: :post do |f| %>
            <%= f.text_area :child_comment %>
            <br>
            <%= f.submit 'コメントする', class: 'btn btn-primary' %>
        <% end %>
        
        <% child_task.task_comments.each do |child_task_comment| %>
            <div class="border-black border row">
            <div class='col-6'>
            <% if child_task_comment.child_task_id && child_task_comment.child_comment %>
                <% if child_task_comment.boss_id %>
                    投稿者：<%= child_task_comment.boss.name %>
                <% elsif child_task_comment.user_id %>
                    投稿者：<%= child_task_comment.user.name %>
                <% end %>
                <%= simple_format(child_task_comment.child_comment) %>
            </div>
            <div class='col-5'>
                <% if current_user == child_task_comment.user || current_boss == child_task_comment.boss %>
                <%= button_to '削除する', parent_task_task_comment_path(parent_task_id: @parent_task.id, id: child_task_comment.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
                <% end %>
            </div>
            <% end %>
            </div>
        <% end %>
    <% end %>
    </div>
    </div>
</div>

<% end %>
