<%= form_with model: [@parent_task, @child_task] do |f| %>
    <div class= 'form-group'>
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title %>
    </div>
    <div class= 'form-group'>
        <%= f.label :explanation, '概要' %>
        <%= f.text_field :explanation %>
    </div>
    <div class= 'form-group'>
        <%= f.label :child_deadline, '締め切り日時' %>
        <%= f.datetime_field :child_deadline %>
    </div>
    <div class= 'form-group'>
        <%= f.label :possibility, '間に合うかどうか' %>
        <%= f.select :possibility, [["自信がある", "0"], ["まあまあ", "1"], ["自信がないです助けて！", "2"]] %>
    </div>
        <%= f.submit 'タスクを保存！'%>
<% end %>