
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!--TOPに戻るボタン-->
  <a class="navbar-brand" href = "/">Navbar</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in?%>
                <p>User</p>
              <% elsif boss_signed_in?%>
                <p>Boss</p>
              <% else%>
                <p>Sign Up or Login</p>
              <% end %>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in?%>
                <%= link_to "Profile", current_user%>
                <br>
                <%= link_to "Users", "/users"%>
                <br>
                <%= link_to "User logout", destroy_user_session_path, method: :delete %>
              <% elsif boss_signed_in?%>
                <%= link_to "Profile", current_boss%>
                <br>
                <%= link_to "Bosses", "/bosses"%>
                <br>
                <%= link_to "Boss logout", destroy_boss_session_path, method: :delete %>
              <% else%>
                Please SignUp or Login
              <% end %>
            </div>
          </li>
      </ul>
    </div>
</nav>
